About
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div style="width:100%">
    <h2>Giới thiệu về phần mềm:</h2>
    <br />
    <table>
        <tr style="text-align:center;">
            <th style="border: 1px solid black;">
                <u>
                    Mục đích nghiên cứu
                </u>
            </th>
            <th style="border: 1px solid black;">
                <u>
                    Tính thực tiễn
                </u>
                </thstyle="border:>
            <th style="border: 1px solid black;">
                <u>
                    Tính mới của đề tài
                </u>
                </thstyle="border:>
        </tr>
        <tr>
            <td style="border: 1px solid black;">

                <ul>
                    <li>
                        <p>
                            Tìm hiểu các thiết bị hỗ trợ, thiết bị phát hiện và cảnh báo khi gặp phải các ổ gà từ đó đánh giá phân loại mức độ hư hỏng sau đó lưu dữ liệu
                        </p>
                    </li>
                    <li>
                        <p>
                            Dữ liệu đó sẽ được những cơ quan quản lý, bảo trì đường xem từ đó đưa ra các phương án kịp thời giúp người dân tránh né các tai nạn đáng tiếc.
                        </p>

                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black;">
                <ul>
                    <li>
                        <p>
                            Đề tài có tính thực tiễn cao, dễ dàng áp dụng trên các phương tiện công cộng.
                        </p>
                    </li>
                    <li>
                        <p>
                            Dễ dàng lắp đặt: Việc lắp đặt hệ thống vô cùng dễ dàng; tất cả các module chức năng đều được thiết lập chế độ cắm-và-chạy giúp người dùng dễ thao tác và sử dụng.
                        </p>
                    </li>
                    <li>
                        <p>
                            Chi phí và giá thành thấp.
                        </p>
                    </li>
                    <li>
                        <p>
                            Đặc biệt, người dùng có thể nắm bắt tình trạng của các con đường
                        </p>
                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black;">
                <ul>
                    <li>
                        <p>
                            Sử dụng camera để có thể quan sát và đưa ra chẩn đoản về tình trạng của con đường giúp cho người dùng nắm bắt được mức độ hư hại của con đường để có thể đưa ra biện pháp hợp lý, tránh gây tai nạn giao thông.
                        </p>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
