@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="jumbotron" style="text-align:center;">
    <h1>Hệ thống phát hiện và thông báo hư hỏng đường bộ ứng dụng trí tuệ nhân tạo</h1>
</div>
<div class="row" style="text-align:center;padding:5px;">
    <div class="col-md-4">
        <h2 style="border: 1px solid black;">đường bình thường</h2>
        <img src="~/assets/images/binhthuong 1.jpeg" style="width:100%;height:70%;">
    </div>
    <div class="col-md-4">
        <h2 style="border: 1px solid black;">đường bị xước nhẹ</h2>
        <img src="~/assets/images/duongxuocnhe1.png" style="width: 100%; height: 70%;">
    </div>
    <div class="col-md-4">
        <h2 style="border: 1px solid black;">đường bị hư hại</h2>
        <img src="~/assets/images/duonghuhai1.jpg" style="width: 100%; height: 70%;">
    </div>
</div>
